<div class="post">
    <div class="likes">
        <!-- Like button here-->
        <%= post.likers.length%>
    </div>

    <div class="user-info">
        <div>
            <%= post.creator.username %>
        </div>
    </div>

    <div class="title">
         <%= link_to post.title, post %>
    </div>

    <div class="content">
        <%= post.body %>
    </div>

    <div class="comment">
        <!-- comment button here -->
        <%= post.comments.length %>
    <div>
</div>

