<div class="post">

    
    <%= turbo_frame_tag "likes" do %>
        <%= render "shared/like_dislike_panel", { likeable: post, dislikeable: post }%>
    <% end %>
    

    <div class="right">
        <div class="user-info">
            <div>
                <%= post.creator.username %>
            </div>
        </div>

        <%= turbo_frame_tag "edit-post" do %>
            <div class="title">
                <h2><%= link_to post.title, post, data: { turbo_frame: "_top" } %></h2>
            </div>

            <div class="body">
                <%= post.body %>
                <p class="after-body"></p>
            </div>
            
        <% end %>

        <div class="bottom-bar">
            <% if current_user.id.to_i == post.creator.id.to_i %>
                    <%= link_to edit_post_path(post.id), data: { turbo_frame: "edit-post" } do %>
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                        </svg>
                    <% end %>

                    <%= button_to post_url(post.id), { method: :delete, data: { turbo_frame: "_top" } } do %>
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                        </svg>
                    <% end %>
            <% end %>
            
            <div class="comments">
                <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10Z" />
                </svg>
                <p><%= post.comments.length %> comments </p>
            </div>

        </div>
    </div>
</div>

