<div class="post">
    <div class="user-info">
        <div>
            <%= post.creator.username %>
        </div>
    </div>

    <div class="title">
         <h2><%= link_to post.title, post %></h2>
    </div>

    <div class="content">
        <%= post.body %>
    </div>

    <div class="comments">
        <p><%= post.comments.length %> comments </p>
    </div>

    <div class="likes">
        <p><%= post.likers.length%> likes </p>
    </div>
</div>

