<div class="post">

    <div class="likes">
        <%= turbo_frame_tag "likes" do %>
            <%= render "shared/like_dislike_panel", { likeable: post, dislikeable: post }%>
        <% end %>
    </div>

    <div class="user-info">
        <div>
            <%= post.creator.username %>
        </div>
    </div>

    <%= turbo_frame_tag "edit-post" do %>
        <div class="title">
            <h2><%= link_to post.title, post, data: { turbo_frame: "_top" } %></h2>
        </div>

        <div class="content">
            <%= post.body %>
        </div>

        <% if current_user.id.to_i == post.creator.id.to_i %>
            <%= link_to "edit", edit_post_path(post.id) %>
        <% end %>
    <% end %>

    <div class="comments">
        <p><%= post.comments.length %> comments </p>
    </div>
</div>

