<div class="post-form">
    <%= form_with model: @post do |form| %>

        <%= form.text_field :title, placeholder: "Title" %>

        <%= form.text_area :body, placeholder: "Body", cols: 50, rows: 7 %>

        <%= form.file_field :image %>
    
        <%= form.submit "Post"%>
    <% end %>
</div>