<h1>Posts#show</h1>

<%= link_to "home", root_path %>
<%= render "shared/post", :post => @post %>
<%= render "shared/comment_form", :post => @post, :replied_comment_id => @replied_comment_id %>



<% @post.comments.each do |comment|%>
    <% if @replied_comment_id %>
        <%= render "shared/comment", { :comment => comment, :post => @post, :replied_comment_id => @replied_comment_id } %>
    <% else %>
        <%= render "shared/comment", { :comment => comment, :post => @post, :replied_comment_id => nil } %>
    <% end %>
<% end %>



